<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kimersoft.newpos"
    android:versionCode="1"
    android:versionName="1.0.0" >
    <!-- 读取磁条卡磁道数据 -->
    <uses-permission android:name="com.morefun.permission.CLOUDPOS_MSR" />
    <!-- 读写非接触式卡片数据 -->
    <uses-permission android:name="com.morefun.permission.CLOUDPOS_CONTACTLESS_CARD" />
    <!-- 读写智能卡数据 -->
    <uses-permission android:name="com.morefun.permission.CLOUDPOS_SMARTCARD" />
    <!-- 使用热敏打印机 -->
    <uses-permission android:name="com.morefun.permission.CLOUDPOS_PRINTER" />
    <!-- 使用内部串口 -->
    <uses-permission android:name="com.morefun.permission.CLOUDPOS_SERIAL" />
    <!-- 获取PIN密码 -->
    <uses-permission android:name="com.morefun.permission.CLOUDPOS_PIN_GET_PIN_BLOCK" />
    <!-- 获取MAC计算结果 -->
    <uses-permission android:name="com.morefun.permission.CLOUDPOS_PIN_MAC" />
    <!-- 获取PIN加密结果 -->
    <uses-permission android:name="com.morefun.permission.CLOUDPOS_PIN_ENCRYPT_DATA" />
    <!-- 更新主密钥 -->
    <uses-permission android:name="com.morefun.permission.CLOUDPOS_PIN_UPDATE_MASTER_KEY" />
    <!-- 更新工作密钥 -->
    <uses-permission android:name="com.morefun.permission.CLOUDPOS_PIN_UPDATE_USER_KEY" />
    <!-- 获取随机数 -->
    <uses-permission android:name="com.morefun.permission.CLOUDPOS_GET_RANDUM_NUMBER" />
    <uses-permission android:name="com.morefun.permission.CLOUDPOS_SCANNER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>